.site-wrapper .stepper li.completed a .circle {
    background-color: #388e3c !important;
}

.site-wrapper .cn_rdEx .switch label input[type=checkbox]:checked + .lever:after{
	background-color: #4285f4 !important;
}

.site-wrapper .switch label input[type=checkbox]:checked + .lever{
	background-color: #c7e0f1 !important;
}

/* CSS Paso 2 */

.site-wrapper .modal-body {
	overflow-y: scroll;
	max-height: 70vh;
}


#tabs .card .card-header{
	background-color: #1976d2;
}

.site-wrapper .paso2Datos .table-wrapper-scroll-table {
	position: relative;
	max-width: 70%;
	overflow-x: auto;
}

.site-wrapper .paso2Datos .tablaTotal {
	width: 100%;
	display: block;
}

.site-wrapper .paso2Datos .tablaTit {
	width: 10%;
}

.site-wrapper .paso2Datos .tablaTotal2 {
	width: 15%;
	max-width: 15%;
	left: 1px;
}

.site-wrapper .paso2Datos .btn-ubicacion {
	width: 210px;
	height: 50px;
}

#tableComisionesBody .comision.colorRed input{
	color: red;
}

#tableComisionesBody .comision input{
	text-align: end;
    border: none;
    background-color: transparent;
}

.site-wrapper .modal .anchoModal {
	max-width: 85%;
}

.site-wrapper .modal .colPoliza20 td {
	width: 20%;
}

.site-wrapper .modal .celdaPoliza {
	text-align: right;
}

.site-wrapper .modal .colPoliza10 {
	text-align: right;
}

.site-wrapper .modal .altoTbPoliza td {
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.site-wrapper .modal .tablaPoliza {
	margin-bottom: 5px;
	margin-top: 0px;
	border-bottom: 2px solid;
}

#tabPaso3_2 input {
	text-align: end;
    border: none;
    background-color: transparent;
}